<!DOCTYPE html>
<html lang="en">
  <head>
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <meta charset="utf-8">
    <title>{% block title %}Simple is Better Than Complex{% endblock %}</title>
  </head>
  <body>
    <header>
        <div class="col-lg-4 col-lg-offset-4">
          <h1>My Site</h1>
          {% if user.is_authenticated %}
            <a href="{% url 'polls:logout' %}">logout</a>
          {% else %}
            <a href="{% url 'polls:login' %}">login</a> / <a href="{% url 'polls:signup' %}">signup</a>
          {% endif %}
          <hr>
        </div>
    </header>
    <main>
      <div class="col-lg-4 col-lg-offset-4">
      {% block content %}
      {% endblock %}
      </div>
    </main>
  </body>
</html>