{% extends 'polls/base.html' %}

{% block content %}

<h2>Welcome, {{ user.username }}!</h2>
{% if latest_question_list %}
    <ul class="list-group">
    {% for question in latest_question_list %}
        <li class="list-group-item"><a href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}