{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}


<div class="col-lg-4 col-lg-offset-4">
	<div class="list-group">
		<h1>{{ question.question_text }}</h1>

		<ul class="list-group">
		{% for choice in question.choice_set.all %}
		    <li class="list-group-item">{{ choice.choice_text }}<span class="badge badge-primary badge-pill">{{ choice.votes }}</span></li>
		{% endfor %}
		</ul>

		<a href="{% url 'polls:detail' question.id %}">Vote again?</a>
	</div>
</div>
