{% extends 'polls/base.html' %}

{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<a href="{% url 'polls:login' %}">Already have an account? Login</a>
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    	<button type="submit" class="btn btn-primary">Sign up</button>
	{% endbuttons %}
  </form>
{% endblock %}