{% extends 'polls/base.html' %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="form-group">
  	<h2>Login</h2>
  	<form method="post" class="form" layout='inline'>
    	{% csrf_token %}
	    {% bootstrap_form form %}
	    {% buttons %}
	    	<button type="submit" class="btn btn-primary">Login</button>
	    {% endbuttons %}
	</form>
</div>
  
{% endblock %}